<ng-container *ngIf="showTableView">
  <div class="table-view">
    <h2>Data Table View</h2>
    <!-- Component HTML template -->
    <mat-table [dataSource]="dataSource" matSort matSortActive="title" matSortDisableClear matSortDirection="asc">
      <!-- Define your table columns here -->
      <ng-container *ngFor="let column of tableColumns ; let i = index;" [matColumnDef]="column">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</mat-header-cell>
        <mat-cell *matCellDef="let row ">{{ row[column] }}</mat-cell>
      </ng-container>

      <!-- Header row -->
      <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>

      <!-- Data rows -->
      <mat-row *matRowDef="let row; columns: tableColumns" [routerLink]="['/details', row.id]"></mat-row>
    </mat-table>


    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
  </div>
</ng-container>

<ng-container *ngIf="showCardView">
  <h2 class="card-view-heading">Card View</h2>
  <div class="card-container">
    <mat-card *ngFor="let listing of dataSource?.data" [routerLink]="['/details', listing.id]">
      <mat-card-header >
        <div class="card-header">
          <mat-card-title>{{ listing.Title }}</mat-card-title>
          <mat-card-subtitle>{{ listing.Address }}</mat-card-subtitle>
        </div>
      </mat-card-header>

      <img mat-card-image [src]="listing.imageUrl" alt="Property Image">

      <mat-card-content>
        <p>Beds: {{ listing.beds }}</p>
        <p>Bath: {{ listing.bath }}</p>
        <p>Covered Area: {{ listing.coveredAreaSQFT }} sqft</p>
        <p>Property Type: {{ listing.propertyType }}</p>
        <p>Commercial: {{ listing.isCommercial ? 'Yes' : 'No' }}</p>
        <p>Price: {{ listing.price | currency }}</p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button color="accent" [routerLink]="['/details', listing.id]">View Details</button>
      </mat-card-actions>
    </mat-card>
  </div>

</ng-container>